nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: #0C0C0A;
    border-bottom: rgba(255, 255, 255, 0.276) solid 1px;
    align-content: center;
}

nav * {
    list-style: none;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.857);
    font-size: large;
    font-weight: bold;
}


nav ul {
    display: flex;
    justify-content: flex-end;
    margin-right: 200px;
    gap: 20px;
    
}

nav li {
    padding: 10px 15px 10px 15px;
    background-color: #191A1C;
    border-radius: 10px;
    transition: all 0.2s;
}

nav li:hover {
    background-color: #004CE9;
}

nav a {
    color: rgba(255, 255, 255, 0.857);;
    display: block;
    width: max-content;
    text-decoration: none;
    font-size: large;
    font-weight: bold;
}
